@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper .swiper-slide {
  height: auto;
}

.swiper-pagination-bullets-dynamic{
  display: none;
}

.banner-border-radius{
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.banner-text-bg{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 77%, rgba(255,255,255,0.3) 100%);
}