@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper .swiper-slide {
  height: auto;
}

.swiper-pagination-bullets-dynamic {
  display: none;
}

.banner-text-bg {
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 77%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
