/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
} */

.swiper {
  margin-top: 30px;
  width: 100%;
  height: 50%;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 15px;
}
.swiper-pagination-bullets-dynamic{
  display: none;
}